@model IEnumerable<GrowthTrigal.Web.Data.Entities.Flower>

@{
    ViewData["Title"] = "Index";
}

<h2>Seed</h2>

<p>
    @*<a asp-action="Create" class=" btn btn-primary">Create New Seed</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VarietyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Home.BlockNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VarietyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Home.BlockNumber)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id" class=" btn btn-warning">Edit Seed</a>
                <a asp-action="Details" asp-route-id="@item.Id" class=" btn btn-primary">Details Seed</a>*@
                <a asp-action="Delete" asp-route-id="@item.Id" class=" btn btn-success">Delete Seed</a>
            </td>
        </tr>
}
    </tbody>
</table>
